*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}



body{
    background-color: saddlebrown;
}

table{
    color: white;

}

/*Text's and Paragaph's*/
p {
    overflow-wrap: break-word;
    color: papayawhip;
    font-style: italic;
}

h2 {
    color: white;
    font-style: italic;
}


h3{
    color: white;
    font-style: italic;
}

h1 {
    color: white;
    font-style: italic;
}

/*Menu Bar*/
nav {

}

ul a{
    list-style: none;
    display: inline-block;
    line-height: 10px;
    text-decoration: none;
    width: auto;
}


li a {
    float:left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

li a:last-child {
    border-right: none;
}

/*
li a {

    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0 20px;
}
 */

li a:hover{
    background-color: #111;
}

.container {
    display: grid;
    grid-template-rows: auto 3fr 1fr;
}


/*Grid And grid box's*/
.content {
    display: grid;
    grid-template: repeat(2, minmax(100px, 500px)) / repeat(3, minmax(100px, 500px));
    margin-top: 10px;
    gap: 10px;
    background-color: saddlebrown;
    font-size: 1.8vw;

}

.item {
    padding: 10px;
    background-color: sandybrown;
    border-radius: 5px;
}

.menu_item {

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(21,128,12,0.8);
    margin-top:10px;
    align-content: center;
    font-size: 1.4vw;

}

.a{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    place-items: center;

}

.b {
    width: inherit;
    grid-column: 2;
    grid-row: 1/3;
}

.c {
    width: inherit;
    grid-column: 3;
    grid-row: 1/3;

}

.d {
    grid-column: 1;
    align-content: center;
}


.listElement{

}
/*Menu Grid*/


.top-bar {
    text-align: center;
    overflow: inherit;
}

.logo {
    height: 80px;
    width: auto;
    float: right;
}

.footTable{
    width: 100%;
}

.my_buttons{
   width: 100%;
    height: 20px;
}

.my_buttons:hover {
    background-color: white;
    color: black;
}
.counter{
    align-content: center;
}

.count-seen{
    background-color: white;
    height: 100%;
    place-items: center;

}

#random-word-liste{

}

#random-word{
    background-color: white;
    max-width: content-box;
    height: 100%;
    width: 100%;
}

.random-num p{
    color: #111111;
}

#count{
    color: red;
}

#nutt{
    height: inherit;
    width: inherit;
    float: right;
}

#add{
    height: auto;
    width: inherit;
    max-width: 100%;
    border-radius: 5%;

}

#headerImg{
    background: url("../images/dyrene-i-hakkebakkeskogen.png") no-repeat center ;
    height: auto;
    width: inherit;
    background-size: cover;
    border: red 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#email{
    background-color: white;
}

#button-hide{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
}

#sett{
    text-align: center;
}
